img  {
  width: 200px;
}

.table-bordered {
  width: 700px;
  align-items: center;
}

.searchbar {
  text-align: center;
}

.homepageheader {
  text-align: center;
}

.cartbutton {
  text-align: center;
  color: black;
  font-size: 20px;
}

.confirmbutton {
  text-align: center;
}

.orderitemrow {                                                                                                                                                         ;
  width: 300px;
  height: 200px;
  z-index: 15;
  margin: 0px 0 0 250px;
}

.productoverview {
  margin: 0px 0 0 450px;
}

.paybutton {
  margin: 0px 0 0 600px;
}

.shippingform {
  margin: 0px 0 0 450px;
}
