<h1>Thanks, you your order has been confirmed and paid</h1>

<h3> A total amount of <%=current_cart.total%> euro has been charged from your credit-card.
We will send you a confirmation once your order has been shipped.</hr>
